<div class='container'>
  <div class='text-center'>
    <h1> What Do Juniors Get Paid? </h1>

    <div class='button-box'>
      <%= link_to 'See all stories', junior_stories_path, class: 'btn btn-info' %>

      <%= link_to 'Submit your own story', new_junior_story_path, class: 'btn btn-info' %>
    </div>
  </div>
</div>

